/* Genel stiller */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
  
.product-image {
  width: 100%; /* Görselin genişliği konteynerin genişliği kadar olacak */
  height: auto; /* Yüksekliği oranlı olarak ayarlanacak */
  object-fit: cover; /* Görselin en iyi şekilde görünmesi için */
}



.App {
  text-align: center;
}

.App-header {
  background-color:green;
  padding: 20px;
  color: white;
}

.product-list {
  margin: 20px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info h4 {
  font-size: 18px;
  margin: 10px 0;
}

.product-info p {
  font-size: 16px;
  color: #333;
}

.product-actions {
  margin-top: 20px;
}

.buy-btn {
  background-color: #08e030;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.sell-btn {
  background-color: #ff3300;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.buy-btn:disabled, .sell-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buy-btn:hover, .sell-btn:hover {
  background-color: #0056b3;
}

/* Satın Alınan Ürünler */
.purchased-items {
  margin-top: 40px;
}

.purchased-list {
  margin-top: 20px;
  text-align: left;
  padding: 0 20px;
}

.purchased-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchased-item .item-name {
  flex: 2;
  font-weight: bold;
}

.purchased-item .item-price,
.purchased-item .item-quantity {
  flex: 1;
  text-align: right;
}

.total {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.total span {
  font-size: 16px;
  color: #333;
}
